

body {
  height:750px;
  background:hsl(217, 54%, 11%);
  overflow-x: hidden;
}

.main-card {
  margin-top:150px;
  height:600px;
  width:350px;
  margin-left:auto;
  margin-right:auto;
  border-radius:12px;
  background-color:hsl(216, 50%, 16%);
  
}

.ntf {
  width:300px;
  height:300px;
  margin:25px;
  border-radius:10px;
  
}

.eye {
  background-color:hsla(178, 100%, 50%, 40%);
  display:flex;
  align-items:center;
  margin:25px;
  justify-content:center;
  width:300px;
  height:300px;
  border-radius:10px;
  position:absolute;
  top:150px;
  opacity:0;  
  
}


.eye:hover {
opacity:1;
  cursor:pointer;
  }




h2 {
  color:hsl(0, 0%, 100%);
  font-family:Outfit;
  text-align:left;
  margin-left:25px;
  top:-25px;
  position:relative;
}

.text-p {
  font-family:Outfit;
  text-align:left;
  margin-left:25px;
  font-size:18px;
  position:relative;
  top:-30px;
  color:hsl(215, 51%, 70%);
  line-height:1.5em;
}

hr {
  height:1px;
  background-color:hsl(215, 32%, 27%);
  width:300px;
  border:none;
  position:relative;
  top:-40px;
  
}
 
.symbol {
  display:flex;
  align-items:center;
  margin-left:25px;
  font-size:16px;
  color:hsl(178, 100%, 50%);
  font-family:Outfit;
  
}


.images {
  display:inline-flex;
  position:relative;
  top:-40px;
}




.clock {
  align-items:center;
  justify-content:right;
  position:relative;
  text-align:right;
  left:110px;
  color:hsl(215, 51%, 70%);
  display:flex;
  font-size:16px;
  float:right;
  font-family:Outfit;
}
  
.last-image {
  display:inline-flex;
  align-items:center;
  margin:25px;
  position:relative;
  top:-60px;
  font-family:Outfit !important;
}



  .profile {
    width:35px;
    height:35px;
    border-radius:40px;
    border:white solid 1px;
    color:white;
    
  }

.creation {
  color:hsl(215, 51%, 70%) !important;
  position:relative;
  left:15px;
}

.jules {
  color:white;
  position:relative;
    left:20px;
}
  

 Iphone resolution

@media (max-width:555px){

  
  html{
    margin: 0 auto;
    padding: auto 0;
    box-sizing: border-box;
  }
  
  
  body {
    max-height:600px;
   
    
  
  }

 
  .main-card {
    height:600px;
    margin-bottom:50px;
    margin-top:50px;
  }
  
  
  .ntf {
    margin:25px;
    width:275px;
    height:275px;
  }

.eye {
  width:275px;
  height:275px;
  position:absolute;
  top:57px;
}



